/* AboutPage.css */

.about-container {
  padding: 20px;
  overflow-x: auto; 
  margin-bottom: 8cm;
}

.about-content {
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-contact-info {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  color: #343a40;
}
