/* AboutPage.css */

.full-page {
  height: 100vh;
  width: 100vw;
}

.about-container {
  overflow-x: auto;
  height: calc(100vh - 20px); /* subtract top and bottom padding */
  width: 95vw;
}

.about-content {
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-contact-info {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  color: #343a40;
}